<!doctype html>
<html lang="en">

<head>
	<title>Flask Leaflet Website</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
		integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
		crossorigin="" />
	<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
		integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
		crossorigin=""></script>

	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>

<body>

	<div id="topbar" class="topnav">
		<h4>AVR-IoT Cellular Mini GPS Demo</h4>
	</div>

	<button id="sidebar-button" class="button" onclick="toggle()">
		<h4>☰</h4>
	</button>

	<div id="sidebar-container" class="w3-sidebar w3-bar-block w3-card">
		<div id="sidebar" class="w3-sidebar w3-bar-block w3-card">
			<div id="marker_list"></div>
		</div>
	</div>

	<div id="map" class="w3-container"></div>

	<script>
		var map = L.map('map').fitWorld();

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'

		}).addTo(map);

		map.setZoom(2.5);

		var sidebar_open = false;

		function toggle() {
			if (!sidebar_open) {
				document.getElementById("sidebar-container").style.display = "flex";
			}
			else {
				document.getElementById("sidebar-container").style.display = "none";
			}

			sidebar_open = !sidebar_open;
		}

		function zoomToPosition(event) {
			console.log(event);
		}

		var index = 0;
		var markers = []

		function update() {

			var data = $.get("/data", data = { "index": index });

			data.done(function (data) {

				try {
					const new_markers = JSON.parse(data);

					index += new_markers.length;

					for (var i = 0; i < new_markers.length; i++) {

						const marker = new_markers[i];

						console.log("Adding marker at %f, %f for time %s", marker.lat, marker.lon, marker.time);

						markers.push(marker);
						L.marker([marker.lat, marker.lon]).addTo(map).bindPopup(`${marker.index}: ${marker.time}`)

						let element = document.createElement("button")
						element.className = "w3-bar-item w3-button";
						element.id = "entry";
						element.text = `${marker.lat}N, ${marker.lon}E\n${marker.time}`
						element.style = "font-size: 15px;";
						element.marker_index = marker.index;
						element.onclick = "zoomToPosition();";

						document.getElementById("marker_list").prepend(element);
					}
				}
				catch (err) {
					if (data != "No new entries") {
						console.log("Failed to parse marker data: %s. Error: %s", data, err);
					}
				}
			});
		}

		// Do iniital update and then request data on an interval
		update();
		setInterval(update, 20000);

	</script>
</body>

</html>